nav {
    width: 100%;
    background: white;
    border-top: 4px solid #47a3da;
    bottom: 0;
    font-size: 15px;
    height: 67px;
    position: absolute;
}

nav #wrapper-nav {
    margin: 0 auto;
    max-width: 1170px;

}

nav #wrapper-nav .nav-menu ul {
    margin-bottom: 0;
}

nav #wrapper-nav .nav-menu ul li {
    display: inline-block;

}

nav #wrapper-nav .nav-menu ul li a {
    color: #999;
    display: block;
    line-height: 64px;
    padding: 0px 30px;
}

nav #wrapper-nav .nav-menu ul li a:hover {
    color: white;
    background: #47a3da;
}

/* Nav Click movil */

nav #wrapper-nav .nav-menu .nav-click {
    display: none;
}

/* Menú Fixed scroll */

.fixed-nav {
    border-bottom: 4px solid #47a3da;
    border-top: 0;
    position: fixed;  
    top: 0;
    width: 100%;
}

.fixed-subnav {
	top: -378px;
}

.border-nav {
	border-bottom: 1px solid #ecf0f1;  
}