/* responsive */

/* -- Phone -- */
@media (max-width: 767px) {

	/* Home */
	section#home {
		height: 600px !important;
	}

	section#home > .fullscreen > .home-page {
        height: 100%;
        padding: 100px 40px 50px 40px !important;
    }

    /* Footer */
	section#footer .container .footer-left {
		width: 100%;
	}

	section#footer .container .footer-right {
		width: 100%;
		margin-top: 30px;
	}
}

/* -- Tablets -- */
/* @media (min-width: 768px) and (max-width: 991px) { */
@media (max-width: 991px) {

	/* Nav */
	nav {
		top: 0 !important;
		bottom: inherit;
		border-top: none !important;
		border-bottom: 4px solid #47a3da;
		font-size: 90% !important;
		height: 50px !important;
		padding: 0 40px !important;
	}

	nav #wrapper-nav .nav-menu ul li a {
	    padding: 0px 20px !important;
	    line-height: 50px !important;
	}

	/* Home */
	section#home {
		height: 700px;
	}

	section#home .fullscreen .home-page {
		height: 100%;
		padding: 80px 0px 40px 0px;
	}

	/* Footer */
	section#footer .container .footer-left {
		width: 35%;
	}

	section#footer .container .footer-right {
		vertical-align: top;
		width: 64.3%;
	}

}

/* -- Desktops Medium -- */
@media (max-width: 1199px) {

	/* Footer */
	section#footer .container .footer-left {
		width: 35%;
	}

	section#footer .container .footer-right {
		vertical-align: top;
		width: 64.4%;
	}

}

/* -- Desktops Large -- */
@media (min-width: 1200px) {

}


