/* responsive */

@media only screen and (max-width: 1185px){

	#nav-inner, .inner{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media only screen and (max-width: 1300px){
	.nav-menu ul.dropdown-menu-1 li {
		margin-left: -55px;
	}
}

@media only screen and (max-width: 760px){
	.nav-menu {
		float: none;
	}
}