/* ==== Google font ==== */
/*@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');*/

html, body {height:100%;}

body {
	margin: 0px;
	padding: 0px;
}

.clear { clear: both; }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Lato', sans-serif;
}
/*
h1,h2,h3,h4,h5,h6 {
	margin: 0 0 0 0 !important;
	padding: 0 !important;
}*/
h1 { font-size: 40px; line-height: 30px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
.txt-light { font-weight: 300; }
.txt-regular { font-weight: 400; }
.txt-bold { font-weight: 700; }
.txt-uppercase { text-transform: uppercase; }

A {text-decoration:none}
A:link {text-decoration:none}
A:visited {text-decoration:none}

ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}


/* Positions and Floats */

.relative { position: relative !important; }

.absolute { position: absolute !important; }

.fixed { position:fixed !important; }

.f-left { float:left; }

.f-right { float: right; } 

.z-1 { z-index: 1; }

/*.fullscreen {
	width: 100%;
	height: 100%;
	left:0;
	top:0;
}*/

/* Containers */

/*#container {
	width: auto;
	height: auto;
	padding:0;
	margin:0;
}*/

/*.inner {
	height: auto;
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
	padding:0;
}*/

/* Navigation section */

header#navigation {
	border: none;
}

/* LOGO */

.logo {
	color: white !important;
}

/* Background nav */

.background-nav {
	background-color: rgba(34, 34, 34, 0.4) !important;
}

/* nav menu right */

/* Enable hover menu */
.nav-menu .dropdown:hover .dropdown-menu {
	display: block;
}

.nav-menu a {
	color: white !important;
}

.nav-menu ul li:hover{
	background-color: rgba(34, 34, 34, 0.3);
	color: red !important;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.nav-menu ul li:hover > a{
	background-color: rgba(34, 34, 34, 0.3);
	color: red !important;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

/* dropdown */
nav.nav-menu li.open {
	background-color: transparent;
}

/* Separator barra */

section#separator-1 {
	background: #2E2E2E;
	height: 150px;
	color: #E6E6E6;
}

section#separator-1 .container {
	height: 100%;
}

section#separator-1 .container h2 {
	margin: 0;
	line-height: 146px;
}

/* Home */

#home {
	z-index: 6;
	position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
	background: url(../images/back-1.jpg) no-repeat; 
	background-position: 0px 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Page Content */

section#about {
	margin:0;
	width: 100%;
	padding:25px 0;
	height: 600px;
}

section#about .container {
	border-radius: 5px;
	height: 500px;
}