/* =============================== */
/* === Developer: Fabián Muñoz === */
/* =============================== */

html, body {height:100%;}

body {
	margin: 0px;
	padding: 0px;
	font: 20px/22px "Lato", "Century Gothic", "Trebuchet MS", Helvetica, sans-serif !important;
}

body, input, textarea, select {
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.75em;
}

.clear { clear: both; }

a { text-decoration:none; } 
a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:active, a:focus { outline: none !important; }
a:hover { text-decoration: none !important; }

ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

h2 { font-weight: 700 !important; }

h1 {
  font: 400 90px/1.2 'Sansita one', Georgia, serif !important;
}

p {
    font: 400 16px/1.6 'Muli', Verdana, Helvetica, sans-serif !important;
    padding: 1 !important;
}

a {
  font: 100 20px/3.15 'Sansita one', Georgia, serif !important;
}

/* li sin border */

.border-none-top { border-top: none !important; }
.border-none-bottom { border-bottom: none !important; }
.border-none-left { border-left: none !important; }
.border-none-right { border-right: none !important; }

/* Positions and Floats */

.relative { position: relative !important; }

.absolute { position: absolute !important; }

.fixed { position:fixed !important; }

.f-left { float:left; }

.f-right { float: right; } 

.z-1 { z-index: 1; }

.radius-topleft { border-radius: 20px 0px 0px 0px !important; }
.radius-topright { border-radius: 0px 20px 0px 0px !important; }
.radius-topleftright { border-radius: 0px 40px 40px 0px !important; }
.radius-bottomleft { border-radius: 0px 0px 0px 40px !important; }

form input.text, form select, form textarea {
	-webkit-appearance: none;
	display: block;
	background: none;
	border: solid 2px;
	border-color: #555555;
	border-color: rgba(255,255,255,0.2);
	border-radius: 0.35em;
	width: 100%;
	padding: 0.85em;
	-moz-transition: border-color 0.25s ease-in-out;
	-webkit-transition: border-color 0.25s ease-in-out;
	-o-transition: border-color 0.25s ease-in-out;
	-ms-transition: border-color 0.25s ease-in-out;
	transition: border-color 0.25s ease-in-out;
	outline: none;
	color: #aaa;
	color: rgba(255,255,255,0.5);
}
/*.fullscreen {
	width: 100%;
	height: 100%;
	left:0;
	top:0;
}*/

/* Containers */

/*#container {
	width: auto;
	height: auto;
	padding:0;
	margin:0;
}*/

/*.inner {
	height: auto;
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
	padding:0;
}*/

/* Separator barra */

section.separator {
	background: #2E2E2E;
	color: #E6E6E6;
}

section.separator > .container {
	height: 100%;
}

section.separator > .container h2 {
	margin: 0;
}

/* button nav movil*/

.main > .nav-movil {
	display: none;
}

/* H2 Title */
.title {
	text-align: center !important;
	padding: 10px 0px 20px 0px !important;
	/*font-size: 35px;*/
    font: 400 35px/1.3 'Bree Serif', Georgia, serif !important; 
}

/* Home */

section#home {
	z-index: 6;
	height: 100%;
	min-height: 300px;
	/*background: url(../images/back-6.png) no-repeat;*/
    background: #cb483b;
	background-position: 50% 60%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #E6E6E6;
}

section#home .fullscreen {
	/*background: rgba(34, 34, 34, .1) !important;*/
	height: 100%;
	left:0;
	top:0;
	width: 100%;
}

section#home .fullscreen .home-page {
	height: 100%;
	padding: 50px 0px 120px 0px;
}

section#home .fullscreen .home-page .inner-home{
	height: 100%;
    text-align: center;
    vertical-align: middle !important;
}

section#home .fullscreen .home-page .inner-home h1{
	margin: 0 !important;
    position: absolute !important;
    top: 41% !important;
    left: 50% !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
}

section#home .fullscreen .home-page .inner-home h2{
	margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
    font: 400 45px/1.2 'Sansita one', Georgia, serif !important;
}

/* Page Content */

.inner-separator1 {
	width: 33%; 
	text-align: center;
	padding: 30px 20px 5px 20px;
}

.inner-separator1 h2 {
  font: 200 30px/1 'Sansita one', Georgia, serif !important;
}

.inner-separator1 h2 {
	color: #FFBF00;
}

.inner-separator1 p {
	padding: 10px 0px;
	font-size: 16px;
	line-height: 20px;
	color: white;
}

/* About */

section#about {
	background: #47a3da;
	color: #E6E6E6;
	margin:0;
	padding:25px 0;
	width: 100%;
}

section#about .container {
	border-radius: 5px;
	height: 600px;
}

/* knowledge */
section#knowledge {
	margin:0;
	padding:25px 0;
	width: 100%;
}

section#knowledge .container {
	min-height: 600px;
}

/* Works */

section#portafolio {
	background: #e95b4d;
	color: #E6E6E6;
	margin:0;
	padding:25px 0;
	width: 100%;
}

section#portafolio .container {
	border-radius: 5px;
	height: 600px;
}

/* Contact Me */ 

section#contact {
	background: #1c1c1c;
	margin:0;
	padding:25px 0;
	width: 100%;
}

section#contact .container {
	border-radius: 5px;
	padding-bottom: 50px;
}

section#contact .container h2 {
	color: #FFF;
}

section#contact div.container form.form {
	margin: 0 auto;
	width: 70%;
}

section#contact div.container form.form .input {
	width: 49%;
}

section#contact div.container form.form div.textArea {
	margin-top: 16px;
}

section#contact div.container form.form div.textArea textarea {
	min-height: 15em;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	flex-direction: column;
	resize: auto;
	cursor: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

section#contact div.container form.form div.formButton {
	margin-top: 16px;
	text-align: center;
}

section#contact div.container form.form div.formButton a.button {
	display: inline-block;
	background: none;
	border: 2px solid;
	border-color: #555555;
	border-radius: 8px;
	font-size: 0.85em;
	letter-spacing: 2px;
	padding: 0.85em 2.75em 0.85em 2.75em;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1em;
	font-weight: 600;
	transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}

section#contact div.container form.form div.formButton a.button:hover {
	background: #fff;
	background: rgba(255,255,255,0.8);
	border-color: #fff;
	border-color: rgba(255,255,255,0.2);
	color: #000 !important;
}

/* Footer */ 

section#footer {
	background-color: #151515;
	/*box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444; */
	color: #E6E6E6;
	height: 300px;
}

section#footer .container {
	/*border: 1px solid blue;*/
	/*height: 400px;*/
}

section#footer .container h2 {
	line-height: 146px;
	margin: 0;
}

section#footer .container .footer-page {
	border: 1px solid red;
	display: inline-block;
	height: 300px;
	padding: 50px 0px 50px 0px;
	text-align: center;
}

section#footer .container .footer-left {
	width: 35%;
}

section#footer .container .footer-right {
	vertical-align: top;
	width: 64.6%;
}

section#footer .container .footer-page .footer-page-inner a{
	color: #E6E6E6;
}

section#footer .container .footer-page .footer-page-inner .logo {
	display: inline-block;
}

section#footer .container .footer-right img {
	width: 30%;
}

/*** == Letras header SVG == ****/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

#text-header {
    font: 4.5em/1 Open Sans, Impact;
    text-transform: uppercase;
    fill: rgba(227, 144, 144, 0.9);
}

svg {
    width: 100%;
    height: 100%;
}