/* ==== Google font ==== */
/*@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');*/

html, body {height:100%;}

body {
	margin: 0px;
	padding: 0px;
}

.clear { clear: both; }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Lato', sans-serif;
}
/*
h1,h2,h3,h4,h5,h6 {
	margin: 0 0 0 0 !important;
	padding: 0 !important;
}*/
h1 { font-size: 40px; line-height: 30px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
.txt-light { font-weight: 300; }
.txt-regular { font-weight: 400; }
.txt-bold { font-weight: 700; }
.txt-uppercase { text-transform: uppercase; }

a { text-decoration:none; } 
a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:active, a:focus { outline: none !important; }

ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}


/* Positions and Floats */

.relative { position: relative !important; }

.absolute { position: absolute !important; }

.fixed { position:fixed !important; }

.f-left { float:left; }

.f-right { float: right; } 

.z-1 { z-index: 1; }

/*.fullscreen {
	width: 100%;
	height: 100%;
	left:0;
	top:0;
}*/

/* Containers */

/*#container {
	width: auto;
	height: auto;
	padding:0;
	margin:0;
}*/

/*.inner {
	height: auto;
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
	padding:0;
}*/

/* Separator barra */

section.separator {
	background: #2E2E2E;
	min-height: 150px;
	color: #E6E6E6;
}

section.separator > .container {
	height: 100%;
}

section.separator > .container h2 {
	margin: 0;
	line-height: 146px;
}

/* button nav movil*/

.main > .nav-movil {
	display: none;
}

/* Menu fixed */

.fixed-nav {
    position: fixed; 
    top: 0; 
    height: 52px;
    border-top: 0px !important;
    border-bottom: 4px solid #47a3da;
    width: 100%;
}

/* Home */

section#home {
	z-index: 6;
	height: 100%;
	min-height: 300px;
	background: url(../images/back-1.jpg) no-repeat;
	background-position: 0px 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #E6E6E6;
	
}

section#home .fullscreen {
	/*background: rgba(34, 34, 34, .5) !important;*/
	width: 100%;
	height: 100%;
	left:0;
	top:0;
}

section#home .fullscreen .home-page {
	height: 100%;
	padding: 100px 0px 50px 0px;
}

section#home .fullscreen .home-page .inner-home{
	border: 1px solid red;
	height: 100%;
}

/* Page Content */

/* About */

section#about {
	color: #E6E6E6;
	background: #47a3da;
	margin:0;
	width: 100%;
	padding:25px 0;
}

section#about .container {
	border-radius: 5px;
	height: 600px;
}

/* knowledge */
section#knowledge {
	margin:0;
	width: 100%;
	padding:25px 0;
}

section#knowledge .container {
	min-height: 600px;
}

/* Works */

section#portafolio {
	color: #E6E6E6;
	background: #e95b4d;
	margin:0;
	width: 100%;
	padding:25px 0;
}

section#portafolio .container {
	border-radius: 5px;
	height: 600px;
}

/* Contact Me */ 

section#contact {
	margin:0;
	width: 100%;
	padding:25px 0;
	height: 600px;
}

section#contact .container {
	border-radius: 5px;
	height: 600px;
}

/* Footer */ 

section#footer {
	background: #2E2E2E;
	color: #E6E6E6;
}

section#footer .container {
	border: 1px solid blue;
	/*height: 400px;*/
}

section#footer .container h2 {
	margin: 0;
	line-height: 146px;
}

section#footer .container .footer-page {
	border: 1px solid red;
	display: inline-block;
	height: 300px;
	padding: 50px 0px 50px 0px;
	text-align: center;
}

section#footer .container .footer-left {
	width: 35%;
}

section#footer .container .footer-right {
	vertical-align: top;
	width: 64.6%;
}

section#footer .container .footer-page .footer-page-inner a{
	color: #E6E6E6;
}

section#footer .container .footer-page .footer-page-inner .logo {
	display: inline-block;
}

section#footer .container .footer-right img {
	width: 30%;
}